* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*baner de fotos inicial*/
.banner {
    width: 100%;
    height: 500px;
    margin: auto;
    animation: portada 8s infinite linear alternate;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes portada {

    0%,
    15% {
        background-image: url(img/1638563148Banner\ Mobile-02-02.jpg);
    }

    20%,
    30% {
        background-image: url(img/banner2.jpeg);
    }

    35%,
    45% {
        background-image: url(img/banner3.jpeg);

    }

    50%,
    65% {
        background-image: url(img/banner4.jpeg);
    }

    70%,
    100% {
        background-image: url(img/banner5.png);
    }
}

/*menu navbar*/
.navbar-brand {
    color: white;
    font-family: 'Oooh Baby', cursive;
    font-size: 30px;
}

.eventos {
    font-family: 'Azeret Mono', monospace;
    font-size: 15px;
    text-align: center;
}


.opcion {
    text-align: center;
}

.lista-menu a {
    color: #2c2c2c;


}

/*container salon Rosario, texto e imagenes*/

.caja-srosario h3 {
    font-size: 30px;
    color: #2c2c2c;
}

.caja-srosario p {
    width: 350px;
    line-height: 2;
    color: #2c2c2c;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.carrusel {
    width: 100%;
}

/*container salon funes. texto e imagenes*/
.caja-sfunes p {
    width: 350px;
    line-height: 2;
    color: #2c2c2c;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

/*imagen completa*/
.img-rio {
    width: 100%;
    height: 500px;
    background-image: url(img/ROSARIO\ desde\ el\ río\ Paraná\ y\ zona\ de\ islas.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.boton {
    text-align: center;

}

.img-rio p {
    text-align: center;
    padding-top: 200px;
    color: white;
    font-size: 35px;
    font-family: 'Calistoga', cursive;
}

.img-rio a {
    text-decoration: none;
    color: black;
}

/*texto con iconos*/

.tipo-eventos {

    text-align: center;
    margin: auto;
    font-size: 20px;
    line-height: 1.5;
}

.tipo-eventos hr {
    border: solid black 1px;
}

.iconos svg {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: rgb(226, 224, 224);



}



.bodas {
    float: left;
    padding-left: 150px;
    text-align: center;

}

.coorporativos {
    float: left;
    padding-left: 150px;
    text-align: center;

}

.cumpleaños {
    float: left;
    padding-left: 150px;
    text-align: center;


}

.graduaciones {
    float: left;
    padding-left: 150px;
    text-align: center;


}


/*comienza la galeria de imagenes de salon Funes*/




#galeria img {
    width: 100%;
    height: 350px;
}

#galeria {
    background-color: rgb(238, 238, 238);
}

#galeria .col-lg-4 {
    margin: 0;
    padding: 3px;
}

#galeria img:hover {
    border: 5px solid white;
}

.texto-galeria h1 {
    text-align: center;
    font-family: 'Wire One', sans-serif;
    font-size: 65px;
    margin-top: 80px;
}

.texto-galeria h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}




#texto-funes p {
    text-align: center;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;


}

#texto-funes {
    background-color: gainsboro;
}



#acordion button {
    background-color: #2c2c2c;
    color: white;


}

/*comienza la galeria de imagenes de salon Rosario*/

#texto-funes h3 {
    font-family: 'Birthstone Bounce', cursive;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}



/*comienza pagina Catering*/
.baner-cat {
    width: 100%;
    height: 600px;
}

/*primera seccion de la pagina*/

.seccion-1 p {
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;


}

.titulo-1 p {
    font-family: 'Mr De Haviland', cursive;
    font-size: 55px;
    margin-top: 100px;
    text-align: center;
}

.seccion-1 img {
    margin-bottom: 100px;

}

.seccion-1 h4 {
    text-align: center;
    font-family: 'Sniglet', cursive;
    color: rgb(194, 135, 92);
}

/*segunda seccion*/
.seccion-2 {
    width: 100%;
    height: 400px;
    background-image: url(img/catering/fabrizio-magoni-boaDpmC-_Xo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

.parrafo-seccion-2 {
    color: white;

    font-size: 20px;
    padding-left: 20px;


    opacity: 0.85;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;



}

.parrafo-seccion-2 h2 {
    color: white;
    font-family: 'Sniglet', cursive;
}

/*tercera seccion de la pagina*/
.seccion-3 img {
    width: 100%;
    height: 500px;
}

.seccion-3 p {
    line-height: 2.5;
    color: #2c2c2c;
    font-size: 18px;
}

.barra-premium p {
    color: #2c2c2c;
    text-align: center;
    font-family: 'Mr De Haviland', cursive;
    font-size: 50px;
}

.bodega p {
    color: #2c2c2c;
    text-align: center;
    font-family: 'Mr De Haviland', cursive;
    font-size: 50px;
}

.seccion-5 .contacta p {
    font-family: 'Birthstone Bounce', cursive;
    font-size: 55px;
    color: rgb(194, 135, 92);

}

.seccion-5 p {
    text-align: center;
    font-size: 25px;
}

.seccion-5 {
    background-color: rgb(236, 236, 236);
}

/*footer*/

.ico-footer {
    margin: auto;
}

.direccion {
    float: left;
    padding-left: 210px;
    text-align: center;
    margin-top: 50px;

}

.telefono {
    float: left;
    padding-left: 210px;
    text-align: center;
    margin-top: 50px;

}

.email {
    float: left;
    padding-left: 210px;
    text-align: center;
    margin-top: 50px;
}

.consulta h3 {
    font-size: 25px;
    font-family: 'Bakbak One', cursive;
    color: #464545;
}


.consulta {

    padding-top: 50px;
}

.consulta p {
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    color: black;
    padding-left: 10px;

}

.formulario {
    padding-left: 100px;
    background-color: #2c2c2c;
    padding-top: 50px;
}

.formulario h2 {
    font-size: 45px;
    color: white;
    font-family: 'Big Shoulders Stencil Text', cursive;

}

.formulario label {
    color: white;
}

.formulario input {
    background-color: whitesmoke
}

.formulario textarea {
    background-color: whitesmoke
}



.texto-img {
    width: 100%;
    height: 800px;
    background-image: url(img/Consultas/Mia\ y\ Martin\ -\ Boda\ de\ día\ en\ Rincón\ de\ Pilar\ -\ Juan\ Pablo\ Mansilla\ _\ Fotografía\ de\ Bodas\ _\ Fotógrafo\ de\ Casamientos\ en\ Buenos\ Aires\,\ Argentina\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.texto-img p {
    text-align: center;
    padding-top: 150px;
    color: white;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;

}