* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 500px;
    margin: auto;
    animation: portada 8s infinite linear alternate;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes portada {

    0%,
    15% {
        background-image: url(img/1638563148Banner\ Mobile-02-02.jpg);
    }

    20%,
    30% {
        background-image: url(img/banner2.jpeg);
    }

    35%,
    45% {
        background-image: url(img/banner3.jpeg);

    }

    50%,
    65% {
        background-image: url(img/banner4.jpeg);
    }

    70%,
    100% {
        background-image: url(img/banner5.png);
    }
}

.opcion {
    text-align: center;
}

.lista-menu a {
    color: #2c2c2c;


}



.caja-srosario h3 {
    font-size: 30px;
    color: #2c2c2c;
}

.caja-srosario p {
    width: 500px;
    line-height: 2;
    color: #2c2c2c;
    font-size: 20px;
}

.carrusel {
    width: 100%;
}

.img-rio {
    width: 100%;
    height: 500px;
    background-image: url(img/rosario/ROSARIO\ desde\ el\ río\ Paraná\ y\ zona\ de\ islas.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.boton {
    text-align: center;

}

.img-rio p {
    text-align: center;
    padding-top: 200px;
    color: white;
    font-size: 35px;
    font-family: 'Calistoga', cursive;
}

.tipo-eventos {
    width: 900px;
    height: 800px;

    text-align: center;
    margin: auto;
    font-size: 20px;
    line-height: 1.5;
}

.tipo-eventos svg {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: rgb(226, 224, 224);

}

.iconos {
    width: 900px;
    height: 300px;



}

.bodas {
    float: left;
    padding-left: 80px;
    padding-right: 100px;



}

.coorporativos {
    float: left;
    padding-right: 100px;

}

.cumpleaños {
    float: left;
    padding-right: 100px;

}

.graduaciones {
    float: left;
    padding-right: 50px;

}